@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,600;1,300&family=Outfit:wght@400;500;600;700&family=Red+Hat+Text:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    /* LightMode */
    --body-bg-color:#f6f8ff;
    --head-color:#222731;
    --darklight-color:#697c9a;
    --search-bg-color:#fff;
    --search-color:#4b6a9b;
    --black:black;
    --follow-color:#4b6a9b;
    --followTotal-color:#2b3442;
    /* DarkMode */
    --body-bg-color2:#141d2f;
    --head-color2:#fff;;
    --dark-light:#fff;
    --search-bg-color2:#1e2a47;
    --search-color2:#fff;
    --black2:white;
    --follow-bg-color:#f6f8ff;
    --follow-color2:#fff;
    --followTotal-color2:white;
    --social-color:white;
}
body{
    background-color:var(--body-bg-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Text', sans-serif;
    font-family: 'Space Mono', monospace;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:730px;
    margin-bottom: 25px;
}
.head{
    font-size: 26px;
    font-weight: bold;
    color: var(--head-color);
}
.light-hide{
    display: none;
}
.dark-hide{
    display: none;
}
.color-modeBtn{
    font-size: 13px;
    outline: none;
    background-color: var(--body-bg-color);
    border: none;
    cursor: pointer;
    color: var(--darklight-color);
    display: flex;
    align-items: center;
    width: 78px;
    justify-content: space-between;
}
.search{
    height:69px;
    width: 730px;
    background-color:var(--search-bg-color);
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchTxt{
    display: flex;
    align-items: center;
    height: 100%;
}
.searchTxt i{
    margin-left: 35px;
}
.searchTxt input{
    margin-left: 20px;
    height: 100%;
    width: 500px;
    border-radius:15px;
    outline: none;
    border: none;
    font-size: 16px;
    color: var(--search-color);
    background-color: var(--search-bg-color);
}
::placeholder{
    color: var(--search-color);
    opacity:1;
}
.searchBtn{
    height: 50px;
    width: 106px;
    background-color: #0079ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}
.resultInfo{
    background-color:white;
    width: 730px;
    height: 419px;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultInfo .mainImg{
    width:117px;
    height:117px;
    border:1px solid var(--black);
    border-radius:117px;
}
.githubHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:650px;
    margin-top: 30px;
}
.githubInfo{
    height: 100%;
    width: 480px;
    position: relative;
}
.githubUser{
    font-size: 26px;
    font-weight: bold;
    color: var(--followTotal-color);
}
.githubJoinedDate{
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 14px;
    color: var(--darklight-color);
}
.githubUserName{
    margin-top: 5px;
}
.githubUserName a{
    text-decoration: none;
    font-size: 16px;
    color:#0079ff;
}
.githubFact{
    width:650px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.githubBio{
    width:480px;
    height: 25px;
    color: var(--search-color);
    margin: 2px 0px 30px 0px;
}
.githubRepo{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: var(--body-bg-color);
    height: 85px;
    width:480px;
    border-radius:10px;
}
.repoHeading,
.followerHeading,
.followingHeading{
    font-size: 13px;
    color: var(--follow-color);
}
.repoTotal,
.followerTotal,
.followingTotal{
    font-size:22px;
    color: var(--follow-color);
    font-weight: bold;
}
.githubSocial{
    display: grid;
    grid-template-columns:240px 240px;
    row-gap:1.2rem;
    margin-top: 20px;
}
.location,
.twitter,
.website,
.company{
    display: flex;
    align-items:center;
    font-size: 14px;
    gap:.5rem;
}
/* Responsiveness */
@media screen and (max-width:769px) {
    header,
    .search{
        width: 574px;
    }
    .searchTxt input{
        width: 480px;
    }
    .resultInfo{
        width: 573px;
        height: 481px;
    }
    .githubHead,
    .githubRepo,
    .githubSocial{
        width: 493px;
    }
    .githubInfo{
        margin-top:1rem;
        width: 350px;
    }
    .githubJoinedDate{
        top: 70px;
        left: 0;
    }
    .githubFact{
        width: 493px;
        align-items:flex-start;
        margin-top: 25px;
    }

}

@media screen and (max-width:428px) {
    header,
    .search{
        width:330px;
        margin-left: 10px;
        height: 60px;
    }
    .searchTxt input{
        width:160px;
        font-size: 12px;
    }
    .searchBtn{
        width: 84px;
        height: 46px;
        font-size: 12px;
    }
    .resultInfo{
        width: 330px;
    }
    .githubFact,
    .githubHead{
        width: 279px;
    }
    .resultInfo .mainImg{
        width: 60px;
        height: 60px;
    }
    .resultInfo .mainImg img{
        width:100%;
        height:100%;
    }
    .githubInfo{
        width: 200px;
    }
    .githubUser{
        font-size: 17px;
    }
    .githubUserName{
        margin-top: -5px;
    }
    .githubJoinedDate{
        top: 48px;
    }
    .githubUserName a,
    .githubJoinedDate,
    .githubBio{
        font-size: 12px;
    }
    .githubBio{
        margin-top: 25px;
    }
    .githubRepo{
        width: 279px;
    }
    .githubSocial{
        grid-template-columns:279px;
    }
    .repoTotal,
    .followerTotal,
    .followingTotal{
        text-align: center;
    }


}




















